@use "sass:math";
@import "../vars";

svg {
  overflow: visible;
  position: absolute;
  top: 0;
  pointer-events: none;

  path {
    fill: none;
    stroke-width: 5px;
    stroke: rgb(0, 129, 204);
    pointer-events: auto;
  }
}
