@use "sass:math";
@import "../vars";

:host {
  display: inline-block;
  cursor: pointer;
  border: 1px solid grey;
  width: $socket-size * 2;
  height: $socket-size;
  vertical-align: middle;
  background: #fff;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 4px;
  &:hover {
    background: #ddd;
    .socket-label {
      display: block;
    }
  }

  .socket-label {
    display: none;
    background-color: rgb(126, 192, 236);
    text-align: center;
    border-radius: 4px;
    padding: 3px 10px;
    width: max-content;
    font-weight: bold;
  }
}
